---
title: Bonnie Shell's Life Stories
---
<!doctype html>
<html lang="en-us" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <header>
      <p><a href="/">Bonnie Shell's Life Stories</a></p>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
{%- if  next %}
    <nav>
      {%- if next %}<a rel="next" href="/story/{{ next.slug }}/">{{ next.title }}</a>{% endif %}
    </nav>
{%- endif %}
    <footer>
      &copy; 2024, Bonnie Shell
    </footer>
  </body>
</html>
